meta(charset="utf-8")/
meta(http-equiv="x-ua-compatible" content="ie=edge")/
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover")/
//- Эти 3 meta-тега *должны* быть расположены первыми в `<head>`

//- Позволяет указывать, откуда могут грузиться ресурсы
//- Правило применяется только к содержимому, следующему за этим тегом
//- Необходимо разместить как можно выше
meta(http-equiv="Content-Security-Policy" content="default-src 'self'")/

//- Microsoft Internet Explorer
meta(http-equiv="cleartype" content="on")/
meta(name="skype_toolbar" content="skype_toolbar_parser_compatible")/

//- Отключает автоматическое определение и форматирование телефонных номеров
meta(name="format-detection" content="telephone=no")/

//- Контролирует поведение поисковых систем при индексации страницы
//- Все поисковые системы
meta(name="robots" content="index,follow,noodp")/
//- Указание отдельно для Google
meta(name="googlebot" content="index,follow")/

//- Отключить предложение перевести страницу
meta(name="google" value="notranslate")/

//- Позволяет указать Google не показывать в поисковой выдаче поле для поиска по сайту
meta(name="google" content="nositelinkssearchbox")/

//- Указывает что контент сайта соответствует возрастному рейтингу `General`
meta(name="rating" content="General")/

//- Отключает подсветку ссылок в IE 10 для Windows Phone
meta(name="msapplication-tap-highlight" content="no")/

//- 360 Browser
//- Указывает движок рендеринга
meta(name="renderer" content="webkit|ie-comp|ie-stand")/

//- QQ Mobile Browser
//- Блокирует изменение ориентации страницы, устанавливая указанную
meta(name="x5-orientation" content="landscape/portrait")/
//- Страница будет показана в полноэкранном режиме
meta(name="x5-fullscreen" content="true")/
//- Страница будет отображаться в режиме "Приложение"
meta(name="x5-page-mode" content="app")/

//- UC Mobile Browser
//- Блокирует изменение ориентации страницы, устанавливая указанную
meta(name="screen-orientation" content="landscape/portrait")/
//- Страница будет показана в полноэкранном режиме
meta(name="full-screen" content="yes")/
//- Браузер будет отображать изображения даже если включён "текстовый режим"
meta(name="imagemode" content="force")/
//- Страница будет отображаться в режиме "Приложение"
meta(name="browsermode" content="application")/
//- Отключает "ночной режим" для этой страницы
meta(name="nightmode" content="disable")/
//- Упрощает страницу для уменьшения потребления трафика
meta(name="layoutmode" content="fitscreen")/
//- Отключает опцию масштабирования шрифтов в случае, если на странице присутствует большое количество текста
meta(name="wap-font-scale" content="no")/
