//- Google+ / Schema.org
link(href="https://plus.google.com/+YourPage" rel="publisher")/
meta(itemprop="name" content="Заголовок")/
meta(itemprop="description" content="Описание страницы, лимит — 200 символов")/
meta(itemprop="image" content="https://example.com/image.jpg")/
